<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <messageConfig>
        <protocFilePath>eel-tools/protoc/protoc-3.2.0-win32/bin/protoc.exe</protocFilePath>
        <protosFileDir>eel-basic/assets/protos</protosFileDir>
        <msgFileJavaOutPath>eel-basic/src/main/java</msgFileJavaOutPath>
    </messageConfig>
</config>
